nav{
    height: 10vh;
    background-color: #fff;
    top: 0;
    box-shadow:0 2px 4px 0 rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    color: #000;
}
.link{
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 0 0;
    padding: 0;
}
.link li{
    margin:10px 20px;
    padding: 10px;
}
.link li a{
    text-decoration: none;
    color:#000;
}
.link li a:hover{
    text-decoration: underline;
}
.logo{
    margin:5px 30px ;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}
span{
    cursor: pointer;
}
span:hover{
    text-decoration: underline;
}

